<!--site info-->
<div class="mb-5 container-fluid">
    <hr>
    <p>한밭대 마술동아리 포엠 | Four Magic <br><br>
        (34158) 대전 유성구 동서대로 125 한밭대학교 유성덕명캠퍼스 학생동아리관 212호 <br>
        Made by Taesin <br>
        ⓒ2024 All Right Reserved
    </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>